---
import BannerHome from "@components/BannerHome.astro";
import AgendaButton from "@components/AgendaButton.astro";
import Layout from "../layouts/Layout.astro";

import { getImage } from "astro:assets";
import imgBgFull from "@assets/img/imgBgFull.jpg";
import { Image } from "astro:assets";

const bgImage = await getImage({ src: imgBgFull });

import imgDrRodrigo from "@assets/img/imgDrRodrigo.png";
import imgNull from "@assets/img/imgNull.png";
import imgSalaEspera from "@assets/img/imgSalaEspera.jpg";
---

<Layout title="Inicio">
  <BannerHome />

  <section
    class="relative w-full bg-cover bg-center bg-no-repeat flex items-center justify-center"
    style={`background-image: url(${bgImage.src});`}
  >
    <!-- Overlay oscuro -->
    <div class="absolute inset-0 bg-black opacity-50"></div>

    <!-- Contenido -->
    <div
      class="relative container z-10 px-4 md:px-0 py-16 lg:py-24 text-white grid grid-cols-1
    md:grid-cols-2 lg:grid-cols-4 items-center"
    >
      <div class="col-span-1 md:col-span-2">
        <h2
          class="font-title text-xl md:text-2xl lg:text-3xl font-semibold mb-4 italic"
        >
          ¿Cómo podemos ayudarte?
        </h2>
        <p class="font-text mb-10 text-lg md:text-xl lg:text-2xl">
          En cada uno de nuestros servicios te brindaremos un trato cálido,
          respeto y profesionalismo.
        </p>
      </div>

      <!-- Lista de servicios -->
      <div class="text-base lg:text-xl leading-relaxed">
        <ul class="font-text space-y-2 list-disc list-inside">
          <li>Consultas</li>
          <li>Citología</li>
          <li>Papanicolaou</li>
          <li>Ultrasonidos</li>
        </ul>
      </div>

      <div class="text-base lg:text-xl">
        <ul class="font-text space-y-2 list-disc list-inside">
          <li>Cultivos vaginales</li>
          <li>Anticonceptivos</li>
          <li>Vacunas</li>
          <li>Estudios de sangre</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="container py-20 lg:py-36 px-4 lg:px-0">
    <div class="text-center">
      <!-- Título -->
      <h2 class="font-title text-3xl text-[#464966] mb-4">Conoce al equipo</h2>
      <p class="font-text text-base md:text-lg lg:text-xl text-[#464966] mb-16">
        Los médicos que te atenderán son especialistas Certificados por<br />
        el Consejo Mexicano de Ginecología y Obstetricia.
      </p>

      <!-- Cards del equipo -->
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-12">
        <!-- Doctor 1 -->
        <div class="flex flex-col items-center text-center">
          <Image
            src={imgDrRodrigo}
            alt="Dr. Rodrigo Zamora"
            class="size-40 md:size-44 lg:size-64 rounded-full object-cover mb-4"
          />
          <h3 class="font-title text-[#464966] text-lg lg:text-xl">
            Dr. Rodrigo Zamora Escudero
          </h3>
          <p class="font-text text-[#464966] text-sm md:text-base lg:text-lg">
            Ginecología y Obstetricia
          </p>
        </div>

        <!-- Doctor 2 -->
        <div class="flex flex-col items-center text-center">
          <Image
            src={imgNull}
            alt="Dra. María José Robles"
            class="size-40 md:size-44 lg:size-64 rounded-full object-cover mb-4 bg-gray-200"
          />
          <h3 class="font-title text-[#464966] text-lg lg:text-xl">
            Dra. María José Robles Menchero
          </h3>
          <p class="font-text text-[#464966] text-sm md:text-base lg:text-lg">
            Ginecología y Obstetricia
          </p>
        </div>

        <!-- Doctor 3 -->
        <div class="flex flex-col items-center text-center">
          <Image
            src={imgNull}
            alt="Dr. Elías Charúa"
            class="size-40 md:size-44 lg:size-64 rounded-full object-cover mb-4 bg-gray-200"
          />
          <h3 class="font-title text-[#464966] text-lg lg:text-xl">
            Dr. Elías Charúa Levy
          </h3>
          <p
            class="font-text text-[#464966] text-sm md:text-base lg:text-lg text-center"
          >
            Ginecología y Obstetricia |<br />
            Cirugía de Mínima Invasión
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="relative py-20 px-4 lg:px-0 mb-20 overflow-x-clip">
    <div class="mx-auto grid md:grid-cols-2 gap-12 items-center">
      <!-- Imagen -->
      <div>
        <Image
          src={imgSalaEspera}
          alt="Consultorio Gynobs"
          class="rounded-xl shadow"
        />
      </div>

      <!-- Texto -->
      <div>
        <h2
          class="font-title text-xl md:text-2xl lg:text-3xl text-[#464966] mb-6"
        >
          ¿Por qué atenderte en Gynobs?
        </h2>
        <ul
          class="font-text text-[#464966] space-y-3 text-base md:text-base lg:text-xl xl:text-2xl list-disc list-inside mb-6 lg:mb-12
          max-w-xl"
        >
          <li>Priorizamos la cercanía con nuestras pacientes.</li>
          <li>Brindamos accesibilidad en la comunicación paciente-doctor.</li>
          <li>Acceso a tecnología de última gama.</li>
          <li>
            Alianzas con expertos en medicina materno fetal, reproducción y
            cirugía endoscópica.
          </li>
          <li>
            Trabajamos en equipo con los mejores especialistas de otras áreas de
            la medicina.
          </li>
          <li>Vacunas a pacientes y familias.</li>
        </ul>

        <AgendaButton href="/contacto" text="AGENDA UNA CITA" />
      </div>
    </div>
    <svg
      width="101"
      height="875"
      viewBox="0 0 101 875"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="absolute bottom-56 -right-8 md:-right-6 -z-10 h-[700px]"
    >
      <g clip-path="url(#clip0_274_37)">
        <path
          d="M107.202 90.0865L201 7.02233C192.311 2.60165 182.508 0.0755459 172.111 0.00124876C136.426 -0.221643 107.202 29.4229 107.202 65.1599V90.0865Z"
          fill="#EAE6DB"></path>
        <path
          d="M93.7975 90.0865L0 7.02233C8.68908 2.60165 18.4921 0.0755459 28.8893 0.00124876C64.574 -0.221643 93.7975 29.4229 93.7975 65.1599V90.0865Z"
          fill="#EAE6DB"></path>
        <path
          d="M93.7975 104.649L0 187.713C8.68908 192.134 18.4921 194.66 28.8893 194.734C64.574 194.957 93.7975 165.312 93.7975 129.575V104.649Z"
          fill="#EAE6DB"></path>
        <path
          d="M107.202 104.649L201 187.676C192.311 192.097 182.508 194.623 172.111 194.697C136.426 194.92 107.202 165.275 107.202 129.538V104.612V104.649Z"
          fill="#EAE6DB"></path>
        <path
          d="M107.202 316.841L201 233.814C192.311 229.394 182.508 226.868 172.111 226.793C136.426 226.57 107.202 256.215 107.202 291.952V316.879V316.841Z"
          fill="#EAE6DB"></path>
        <path
          d="M93.7975 316.841L0 233.777C8.68908 229.357 18.4921 226.83 28.8893 226.756C64.574 226.533 93.7975 256.178 93.7975 291.915V316.841Z"
          fill="#EAE6DB"></path>
        <path
          d="M93.7975 331.404L0 414.468C8.68908 418.889 18.4921 421.415 28.8893 421.489C64.574 421.712 93.7975 392.067 93.7975 356.33V331.404Z"
          fill="#EAE6DB"></path>
        <path
          d="M107.202 331.404L201 414.431C192.311 418.851 182.508 421.378 172.111 421.452C136.426 421.675 107.202 392.03 107.202 356.293V331.367V331.404Z"
          fill="#EAE6DB"></path>
        <path
          d="M107.202 543.596L201 460.569C192.311 456.149 182.508 453.622 172.111 453.548C136.426 453.325 107.202 482.97 107.202 518.707V543.633V543.596Z"
          fill="#EAE6DB"></path>
        <path
          d="M93.7975 543.596L0 460.532C8.68908 456.111 18.4921 453.585 28.8893 453.511C64.574 453.288 93.7975 482.933 93.7975 518.67V543.596Z"
          fill="#EAE6DB"></path>
        <path
          d="M93.7975 558.159L0 641.223C8.68908 645.643 18.4921 648.17 28.8893 648.244C64.574 648.467 93.7975 618.822 93.7975 583.085V558.159Z"
          fill="#EAE6DB"></path>
        <path
          d="M107.202 558.159L201 641.186C192.311 645.606 182.508 648.132 172.111 648.207C136.426 648.43 107.202 618.785 107.202 583.048V558.121V558.159Z"
          fill="#EAE6DB"></path>
        <path
          d="M107.202 770.351L201 687.324C192.311 682.904 182.508 680.377 172.111 680.303C136.426 680.08 107.202 709.725 107.202 745.462V770.388V770.351Z"
          fill="#EAE6DB"></path>
        <path
          d="M93.7975 770.351L0 687.287C8.68908 682.866 18.4921 680.34 28.8893 680.266C64.574 680.043 93.7975 709.688 93.7975 745.425V770.351Z"
          fill="#EAE6DB"></path>
        <path
          d="M93.7975 784.913L0 867.978C8.68908 872.398 18.4921 874.924 28.8893 874.999C64.574 875.222 93.7975 845.577 93.7975 809.84V784.913Z"
          fill="#EAE6DB"></path>
        <path
          d="M107.202 784.913L201 867.941C192.311 872.361 182.508 874.887 172.111 874.962C136.426 875.185 107.202 845.54 107.202 809.803V784.876V784.913Z"
          fill="#EAE6DB"></path>
      </g>
      <defs>
        <clipPath id="clip0_274_37">
          <rect width="101" height="875" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </section>

</Layout>
